.instructor-container {
    display: flex;
    align-items: center;
    padding-inline: var(--padding);
    background-color: #fff8f0;
    position: relative;
    overflow: hidden;
}

.instructor-container .instructor-bird-sticker {
    position: absolute;
    top: 0px;
    right: -20px;
    height: 120px
}

.instructor-container .instructor-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 110px 0;
    margin-inline: auto
}

.instructor-container .instructor-content .header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}

.instructor-container .instructor-content .header .header-info {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%
}

.instructor-container .instructor-content .header .header-navigation {
    display: flex;
    align-items: center;
    gap: 25px
}

.instructor-container .instructor-content .header .title {
    color: #ff9500;
    font-size: 18px;
    font-family: Poppins;
    display: flex;
    gap: 3px;
    align-items: center;
    margin-bottom: 10px
}

.instructor-container .instructor-content .header .subtitle {
    font-size: 45px;
    font-family: Sora;
    font-weight: 600
}

.instructor-container .instructor-content .header .subtitle span {
    color: #ff9500
}

.instructor-container .instructor-content .instructors {
    width: 100%;
    display: flex;
    gap: 30px;
    padding-top: 55px
}

.instructor-container .instructor-content .instructors .instructor-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background: #fff
}

.instructor-container .instructor-content .instructors .instructor-item .avatar-section {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column
}

.instructor-container .instructor-content .instructors .instructor-item .avatar-section .avatar {
    height: 288.9px;
    width: 100%;
    position: relative
}

.instructor-container .instructor-content .instructors .instructor-item .avatar-section .avatar .share-icon {
    position: absolute;
    bottom: 0;
    right: 20px;
    padding: 12px;
    background: #00beae;
    transform: translateY(50%)
}

.instructor-container .instructor-content .instructors .instructor-item .avatar-section .avatar img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 5px;
    overflow: hidden
}

.instructor-container .instructor-content .instructors .instructor-item .avatar-section .avatar-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 10px 20px
}

.instructor-container .instructor-content .instructors .instructor-item .avatar-section .avatar-info b {
    font-weight: 700;
    font-size: 17px;
    color: #0e2a46;
    font-family: Sora
}

.instructor-container .instructor-content .instructors .instructor-item .avatar-section .avatar-info span {
    font-weight: 400;
    font-size: 13px;
    line-height: 32px;
    font-family: poppins;
    color: #ff9500
}