.landing-page {
    display: flex;
    width: 100%;
}

.landing-page_right {
    background: red;
    width: 50%;

}

.landing-page_left {
    width: 50%;
    /* padding-top: 21.7rem;
    padding-left: 15rem; */
}