.home-page {
    display: flex;
    width: 100%;
    padding: 1.6rem var(--padding);
    background: #FFF8F0;
    position: relative;

}

.home-page_right {
    width: 50%;
    margin-top: 6rem;
    position: relative;

}

.home-page_left {
    width: 50%;
    position: relative;
    /* padding-top: 21.7rem;
    padding-left: 15rem; */

}

.tree-image-wrap {
    position: absolute;
    left: 0;
    top: 0;
    height: 10px;
    width: 10px;

}

.home-page_boychild-image-wrap {
    width: 290px;
    height: 460px;
    position: relative;

}

.home-page_boychild-image-wrap .abstract-background {
    position: absolute;
    width: 100%;
    height: 70%;
    bottom: 0;
    left: 0;
    background: var(--clementine-earring);
    border-bottom-right-radius: 144.97px;
    border-bottom-left-radius: 144.97px;
    border-top-left-radius: 144.97px;

}

.home-page_girlchild-image-wrap {
    width: 330px;
    height: 480px;
    position: relative;
    display: flex;
    align-items: end;
    left: 35%;
    bottom: 20%;

}

.home-page_heading {
    font-family: Epilogue;
    font-weight: 700;
    font-style: Bold;
    font-size: 60px;
    text-transform: capitalize;
    color: #17254E;
    margin-top: 20rem;
    leading-trim: NONE;
    line-height: 72px;
    letter-spacing: 0%;
    vertical-align: middle;


}

.home-page-info {
    font-family: Sora;
    font-weight: 400;
    font-style: Regular;
    font-size: 17px;
    leading-trim: NONE;
    line-height: 32.3px;
    letter-spacing: 0%;
    vertical-align: middle;


}

.home-page_boychild-image-wrap img {
    width: 100%;
    position: relative;
    z-index: 1;
}

.home-page_play-icon-wrap {
    height: 5.4rem;
    width: 5.4rem;
    background: var(--verditer);
    border-radius: 100%;
}

.home-page_button-wrap {
    display: flex;
    align-items: center;
    gap: 2.8rem;
}

.home-page_link-wrap {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.home-page_girlchild-image-wrap .abstract-bg {
    position: absolute;
    width: 90%;
    height: 70%;
    bottom: 0;
    left: 0;
    background: var(--verditer);
    border-top-right-radius: 171.76px;
    border-top-left-radius: 171.76px;
    border-bottom-right-radius: 171.76px;
}

.home-page_girlchild-image-wrap img {
    width: 100%;
    position: relative;
    z-index: 1;
}

.home-page_watch-now-link {
    font-family: Sora;
    font-size: 17px;
    color: #0E2A46;

}

.home-page .home-page_orange-cloud {
    position: absolute;
    right: 0;


}

.home-page .home-page_x-icon {
    position: absolute;
    right: 0;
    bottom: 87%;
}

.students-analytics {
    width: 339px;
    height: 94px;
    border-radius: 1000px;
    background: #fff;
    position: absolute;
    top: 65%;
    right: 70%;

}