.stats-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 120px
}

.stats-container .stats-star-sticker {
    position: absolute;
    bottom: 20%;
    right: 20px;
    width: 64px;
    height: 64px
}

.stats-container .stats-content {
    margin-inline: auto;
    align-items: center;
    width: 100%;
    position: relative
}

.stats-container .stats-content .stats-video {
    width: 100%;
    height: 700px;
    padding: 40px;
    padding: 110px var(--padding);
    position: relative
}

.stats-container .stats-content .stats-video .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    background: url(/images/stats-video-backdrop.png);
    background-size: cover;
    width: 100%;
    height: 50%;
    padding: 40px
}

.stats-container .stats-content .stats-video .stats-video-main {
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 100%;
    border-radius: 50px;
    overflow: hidden;
    max-width: 1200px;
    margin-inline: auto
}

.stats-container .stats-content .stats-video .stats-video-main img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.stats-container .stats-content .stats-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    padding-inline: 50px;
    margin-inline: auto
}

.stats-container .stats-content .stats-info .divider {
    height: 162px;
    border-left: 1px dashed #000
}

.stats-container .stats-content .stats-info .stats-info-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.stats-container .stats-content .stats-info .stats-info-item .icon {
    border: 1px dashed #0e2a46;
    border-radius: 100%;
    width: 97.5px;
    height: 97.5px;
    padding: 9px
}

.stats-container .stats-content .stats-info .stats-info-item .icon .icon-main {
    width: 100%;
    height: 100%;
    background-color: #fc9f0b;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.stats-container .stats-content .stats-info .stats-info-item b {
    font-size: 27px;
    font-family: Poppins;
    font-weight: 700;
    color: #0e2a46;
    padding-top: 17px
}

.stats-container .stats-content .stats-info .stats-info-item p {
    font-size: 21px;
    font-family: Sora;
    font-weight: 300;
    margin-top: 10px
}