.nav-banner {
    background: var(--verditer);
    display: flex;
    justify-content: space-between;
    padding: 0 var(--padding);
    height: 5rem;

}

.nav-banner_socials-nav-wrap {
    display: flex;
    align-items: center;
    background: var(--clementine-earring);
    padding: 7px 5px 7px 5px;
    height: 100%;
    gap: 2.9rem;
}

.nav-banner_description-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 16px 0;
}

.nav-banner_socials-wrap {
    display: flex;
    gap: 1.4rem;
    
}

.nav-banner_info-label {
    font-family: Sora;
    font-weight: 300;
    font-style: Regular;
    font-size: 1.7rem;
    color: white;
    display: flex;
    align-items: center;
    gap: 1.8rem;

}

.nav-banner--vertical-line {
    border-right: 1px solid #ffffff9a;
    padding-right: 12px;

}

.nav-banner_language-options {
    display: flex;
    align-items: center;
    gap: 4.6px;
    color: #fff;
    border-right: 1px solid #ffffff9a;
    padding-right: 12px;
}

.nav-banner-socials_vertical-line{
    width: 4px;
    background:var(--verditer);
    height: 5rem;
    margin-right: 15px;
}